<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <code>
      <h3>my collections:</h3>
      <% results.forEach(function(result) { %>
      <a href="/collections/<%= result %>"><%= result %></a>
      <br />
      <% }) %>

      <pre>-----------</pre>
      <a href="/new-collection">new collection</a>
    </code>
  </body>
</html>
